[Desktop Entry]
Type=Application
Name=Collomatique
Comment=Colloscope planning for French CPGE classes
Exec=collomatique-gtk4 %f
Icon=fr.collomatique.Collomatique
Terminal=false
Categories=Office;Education;
MimeType=application/x-collomatique;
StartupNotify=true
